/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/*
NEW COLOR PALETTE
https://www.w3schools.com/colors/colors_palettes.asp
#d5f4e6 - mint
#80ced6 - light turquoise
#fefbd8 - light yellow
#618685 - greyish green
#36486b - dark blue
#4040a1 - purple dark blue
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav a {
  color: #36486b;    
  background: #fefbd8;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;  
  margin: 0 0 0 10px;  
}

nav a:hover{
  background: rgba(254, 251, 216, 80%);
}

nav.workExperienceButton {
    background: #36486b;
}

nav.homepageButton {
    background: #80ced6;
}


body {
  color: #36486b;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}

a {
  color: #fefbd8;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  line-height: 1;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  font-family: 'Permanent Marker', cursive;   
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
  font-family: 'Permanent Marker', cursive;    
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #36486b;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Profile
------------------------------------*/
header {
  background: #36486b;
  color: #d5f4e6;
  font-family: 'Neucha', cursive;
}


/* Projects
------------------------------------*/
.projects {
  background: #d5f4e6;
}
.projects a {
  color: #36486b;
}
.projects .btn {
  color: #d5f4e6;
  background: #36486b;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(54, 72, 107, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #80ced6;
}

/* Education
------------------------------------*/
.education {
  background-image: url(../images/post-its.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* Picture Gallery
------------------------------------*/
.gallery {
   background: #fefbd8; 
   display: flex;      
   padding-bottom: 30px;       
}

.gallery img{
    margin: 10px;
}

.gallery img:hover {
   opacity: 0.5;        
}

.galleryHeader{  
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  background: #fefbd8;    
}

/* Contact Info
------------------------------------*/
footer {
  background: #4040a1;
  color: #d5f4e6;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}